{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
        <div class="col-0 col-sm-3 col-lg-2"></div>
      <div class="col-12 col-sm-6 col-lg-8">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for i in range(3) %}
            <div class="carousel-item {%if i == 0 %} active {%endif%}">
                <img src={{image_url[i]}} class="d-block w-100" alt="...">
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
        <div class="col-0 col-sm-3 col-lg-2"></div>
  <div class="row mt-3">
    <div class="col-lg-6 row-sm">
      <div class="container">
        <h2 class="text-primary">Добро пожаловать на наш сайт!</h2>
            Здесь вы найдете все необходимые сведения о нашей компании и услугах, которые мы предлагаем. <br>Мы специализируемся на указать вид услуг или продукции. <br>Наша цель - сделать вашу жизнь проще и комфортнее.
            <br>Мы гордимся высоким качеством наших услуг и продукции, а также искренне заботимся о наших клиентах. Наш коллектив профессионалов сделает все возможное, чтобы удовлетворить ваши потребности и ожидания.
            <br>На нашем сайте вы найдете подробную информацию о наших услугах, актуальные новости и акции, а также контактные данные для связи с нами. Мы готовы ответить на все ваши вопросы и помочь с выбором самого подходящего варианта.
            <br>Благодарим вас за посещение нашего сайта и надеемся, что вы найдете здесь всю необходимую информацию. <br>Не стесняйтесь обращаться к нам - мы всегда рады помочь!
      </div>
    </div>
    <div class="col-lg-6 row-sm-mt-3">
      <div class="container">
        <h2 class="text-secondary">Welcome to our website!</h2>
            Here you will find all the necessary information about our company and the services we offer. <br>We specialize in specify type of services or products. <br>Our goal is to make your life easier and more comfortable.
            <br>We take pride in the high quality of our services and products, and genuinely care about our clients. Our team of professionals will do everything possible to meet your needs and expectations.
            <br>On our website, you will find detailed information about our services, current news and promotions, as well as contact details to reach out to us. We are ready to answer all your questions and help you choose the most suitable option.
            <br>Thank you for visiting our website and we hope you find all the information you need here. <br>Feel free to reach out to us - we are always happy to help!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



