<div class="card mb-3" style="max-width: 600px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ card.name }}</h5>
        <p class="card-text">Username: {{ card.username }}</p>
        <p class="card-text"><small class="text-muted">Email: {{ card.email }}</small></p>
        <div class="btn-group">
        <a href={{url_for('create_post',user=card.name)}} class="btn btn-primary"
           role="button">Create
        </a>
        <a href={{url_for('view_posts',user=card.name)}} class="btn btn-secondary"
           role="button">View
        </a>
          </div>
      </div>
    </div>
  </div>
</div>